/* cyel css */
html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.highlight {
    border: 1px dotted green;
}

div.main {
    border: 1px solid blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#canvas_container {
    position: relative;
    width: 1280px;
    height: 720px;
    border: 1px solid blue;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

div.main:hover {
    cursor: default;
}

.board {
    border: 1px solid red;
    margin: auto;
}

/* Menu */
div.title {
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    z-index: 2;
}

div.menu {
    position: absolute;
    height: auto;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

div.light_menu_item {
    position: absolute;
    height: 80px;
    width: 80px;
    padding-top: 28px;
    text-align: center;
    z-index: inherit;
}

div.menu_item {
    color: #CCCCCC;
    padding: 3px 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    opacity: inherit;
}
