/* cyel css */
html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.highlight {
    border: 1px dotted green;
}

div.main {
    border: 1px solid blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

div.main:hover {
    cursor: default;
}

.board {
    border: 1px solid red;
    margin: auto;
}

/* Menu */
div.title {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    z-index: 2;
}

div.menu {
    position: absolute;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

div.menu_item {
    color: #CCCCCC;
    padding: 3px 10px;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    opacity: inherit;
}
